<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Image processing API</title>
        <link rel="stylesheet" href="css/style.scss" />
    </head>
    <body class="home">
        <header class="header">
            <section class="container">
                <h1>Image Processing API</h1>
                <p>
                    This is a simple image processing API that allows you to
                    resize images.
                </p>
            </section>
        </header>
        <main class="main">
            <section class="container">
                <section class="endpoint-details">
                    <h2>Frontend endpoints</h2>
                    <ul>
                        <li>
                            <a target="_blank" class="root-api" href="/upload"> /upload </a>
                            <p class="endpoint-sedcription">
                                UI to upload image to full image assets folder
                            </p>
                        </li>
                        <li>
                            <a target="_blank" class="root-api" href="/fullimages">
                                /fullimages
                            </a>
                            <p class="endpoint-sedcription">
                                UI to view full size image available
                            </p>
                        </li>
                        <li>
                            <a target="_blank" class="root-api" href="/thumbnails">
                                /thumbnails
                            </a>
                            <p class="endpoint-sedcription">
                                UI to view processed thumbnail images
                            </p>
                        </li>
                    </ul>
                </section>
                <section class="endpoint-details">
                    <h2>API endpoints</h2>
                    <ul>
                        <li>
                            <a target="_blank" class="root-api" href="/api/images/">
                                /api/images
                            </a>
                            <p class="endpoint-sedcription">
                                To get resized image from request query params.
                                <br />
                                <a
                                    target="_blank"
                                    href="/api/images?filename=encenadaport&height=100&width=100"
                                    class="example-api"
                                >
                                    /api/images?<span class="query"
                                        >filename</span
                                    >=<span class="value">encenadaport</span
                                    >&<span class="query">height</span>=<span
                                        class="value"
                                        >100</span
                                    >&<span class="query">width</span>=<span
                                    class="value"
                                    >100</span
                                </a>
                            </p>
                            <p class="endpoint-sedcription">
                                To get list of fullsize images available.
                                <a href="/api/images" target="_blank" class="example-api">/api/images</a>
                            </p>
                            <p class="endpoint-sedcription">
                                To get single fullsize image.
                                <a href="/api/images?filename=encenadaport" target="_blank" class="example-api">/api/images?<span class="query"
                                    >filename</span
                                >=<span class="value">encenadaport</span
                                ></a>

                            </p>
                        </li>
                        <li>
                            <a target="_blank" class="root-api" href="/api/upload">
                                /api/upload
                            </a>
                            <p class="endpoint-sedcription">
                                [POST] To upload original fill size image from
                                UI
                            </p>
                        </li>
                        <li>
                            <a target="_blank" class="root-api" href="/api/thumbnails">
                                /api/thumbnails
                            </a>
                            <p class="endpoint-sedcription">
                                To get list of processed thumbnail image and url
                                path
                            </p>
                        </li>
                    </ul>
                </section>
            </section>
        </main>
        <footer class="footer">
            <section class="container">
                <p>
                    Submitted by
                    <a target="_blank" href="http://www.binodswain.dev"
                        >Binod Swain</a
                    >
                </p>
            </section>
        </footer>
    </body>
</html>
