<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Thumbmail images</title>
        <link rel="stylesheet" href="css/image.scss" />
    </head>
    <body class="home">
        <header class="header">
            <section class="container">
                <h1>Thumbnail Images</h1>
            </section>
        </header>
        <main class="main">
            <section class="container">
                <div class="thumbnail-wrapper" id="thumbnail-wrapper">
                    loading...
                </div>
            </section>
        </main>
        <script src="js/image.js"></script>
        <script></script>
    </body>
</html>
